body {
  --twitter-color: #38b2ac;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 750px) {
  .app {
    flex: unset;
    display: block;
    padding: 0;
  }
}
